<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Jaldi" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/ufos.js"></script>
		<title>F Them UFOs!</title>
	</head>
	<body>
    <header>
      <h1>F Those UFOs!</h1>
      <h3>Finish those UnFinished Objects</h3>
    </header>
    <section class="flex-container">
      <div class="introPara">
        <p>I'm over it. My house has been taken over by UFOs since embarking on Mission LearnToCode. F them! Finish those UnFinished Objects</p>
        <p>Take time to knit before I commit. A row of crochet before hitting the hay. A bit of embroidery before I ... before ... Take needle to thread before I rest my head.*</p>
        
      </div>
    {{{ body }}}
    </section>
    <footer>
      <p>游놓 Katy Cassidy 游놓 ihatetoast 游놓 <span>* What rhymes with "embroidery"?</span> 游놓 </p>
    </footer>
	</body>
</html>
