<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Jaldi" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/ufos.js"></script>
		<title>F Them UFOs!</title>
	</head>
	<body>
    <header>
      <h1>F Those UFOs!</h1>
      <h3>Finish those UnFinished Objects</h3>
    </header>
    <section>
      <div>
        <p>I'm over it. My house has been taken over by UFOs since embarking on Mission LearnToCode. F them! Finish those UnFinished Objects</p>
        <p>Take time to knit before I commit.</p>
        <p>A row of crochet before I hit the hay.</p>
        <p>A bit of embroidery before I ... before I ...*</p>
        <p>Take needle to thread before I rest my head.</p>
      </div>
    {{{ body }}}
    </section>
    <footer>
      <p>Katy Cassidy | ihatetoast | <span>* What rhymes with "embroidery"?</span></p>
    </footer>
	</body>
</html>
