<h3>Invastion of the UFOs!</h3>

<!-- Pass in data from server.js -->
<ul>
  {{#each projects}}
  	<li>
  		<p><span class="label">UFO {{this.id}}:</span> {{this.project_name}}</p>
      <button data-id="{{this.id}}" class="finished">F'ed!</button>
  	</li>
  {{/each}}
</ul>


<form class="create-form">

  <div class="form-group">
    <label for="project">UFO:</label>
    <input type="text" id="ufo" name="ufo">
  </div>

  <button type="submit">Add UFO</button>
</form>
