<h1>Eet-Da-Burga</h1>

<h3>Goan. Eed'em!</h3>

<!-- Pass in data from server.js -->
<ul>
  {{#each burgers}}
  	<li>
  		<p><span class="label">burga:</span> {{this.burger_name}}</p>
      <button data-id="{{this.id}}" class="devour">Eedit!</button>
  	</li>
  {{/each}}
</ul>

<h3>Add a Quote</h3>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="burger">
  </div>

  <button type="submit">Adda Burga</button>
</form>
