/* Coolors Exported Palette - coolors.co/3c1642-086375-1dd3b0-affc41-b2ff9e */

/* HSL */
$color1: hsla(292%, 50%, 17%, 1);
$color2: hsla(190%, 87%, 25%, 1);
$color3: hsla(168%, 76%, 47%, 1);
$color4: hsla(85%, 97%, 62%, 1);
$color5: hsla(108%, 100%, 81%, 1);

/* RGB */
$color1: rgba(60, 22, 66, 1);
$color2: rgba(8, 99, 117, 1);
$color3: rgba(29, 211, 176, 1);
$color4: rgba(175, 252, 65, 1);
$color5: rgba(178, 255, 158, 1);